<span style="color: var(--julie-text); font-weight: 600;">{{ total_count }}</span> workspace{% if total_count != 1 %}s{% endif %}
{% if current_count > 0 %}
  &nbsp;&middot;&nbsp;<span style="color: var(--julie-success); font-weight: 600;">{{ current_count }}</span> current
{% endif %}
{% if active_count > 0 %}
  &nbsp;&middot;&nbsp;<span style="color: var(--julie-warning); font-weight: 600;">{{ active_count }}</span> active
{% endif %}
{% if known_count > 0 %}
  &nbsp;&middot;&nbsp;<span style="color: var(--julie-text); font-weight: 600;">{{ known_count }}</span> known
{% endif %}
{% if stale_count > 0 %}
  &nbsp;&middot;&nbsp;<span style="color: var(--julie-warning); font-weight: 600;">{{ stale_count }}</span> stale
{% endif %}
{% if blocked_count > 0 %}
  &nbsp;&middot;&nbsp;<span style="color: var(--julie-danger); font-weight: 600;">{{ blocked_count }}</span> blocked
{% endif %}
{% if indexing_count > 0 %}
  &nbsp;&middot;&nbsp;<span style="color: var(--julie-warning); font-weight: 600;">{{ indexing_count }}</span> indexing
{% endif %}
{% if error_count > 0 %}
  &nbsp;&middot;&nbsp;<span style="color: var(--julie-danger); font-weight: 600;">{{ error_count }}</span> error
{% endif %}
